In [1]:
import pandas as pd

pd.read_excel('Book2.xlsx')

,Place,Country.of.Origin,Altitude,Region,In.Country.Partner,Harvest.Year,Grading.Date,Owner.1,Aroma,Flavor,...,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,unit_of_measurement,altitude_mean_meters
0,1,Ethiopia,1950-2200,guji-hambela,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,8.67,8.83,...,8.50,8.42,10.00,10.00,10.00,8.75,90.58,0.12,m,2075.00
1,2,Ethiopia,1950-2200,guji-hambela,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,8.75,8.67,...,8.42,8.42,10.00,10.00,10.00,8.58,89.92,0.12,m,2075.00
2,3,Guatemala,1600 - 1800 m,NaN,Specialty Coffee Association,NaN,"May 31st, 2010",Grounds for Health Admin,8.42,8.50,...,8.33,8.42,10.00,10.00,10.00,9.25,89.75,0.00,m,1700.00
3,4,Ethiopia,1800-2200,oromia,METAD Agricultural Development plc,2014,"March 26th, 2015",Yidnekachew Dabessa,8.17,8.58,...,8.50,8.25,10.00,10.00,10.00,8.67,89.00,0.11,m,2000.00
4,5,Ethiopia,1950-2200,guji-hambela,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,8.25,8.50,...,8.42,8.33,10.00,10.00,10.00,8.58,88.83,0.12,m,2075.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1301,1303,Honduras,1450 msnm,marcala,Instituto HondureÃ±o del CafÃ©,2014,"May 15th, 2014",CADEXSA,7.00,6.33,...,6.67,6.17,8.00,8.00,8.00,6.33,69.17,0.10,m,1450.00
1302,1304,Mexico,900,juchique de ferrer,AMECAFE,2012,"September 17th, 2012",JUAN CARLOS GARCIA LOPEZ,7.08,6.83,...,7.25,6.75,10.00,0.00,10.00,6.75,68.33,0.11,m,900.00
1303,1305,Haiti,~350m,"department d'artibonite , haiti",Specialty Coffee Association,2012,"May 24th, 2012",Myriam Kaplan-Pasternak,6.75,6.58,...,7.08,6.67,9.33,6.00,6.00,6.42,67.92,0.14,m,350.00
1304,1306,Nicaragua,1100,jalapa,Instituto HondureÃ±o del CafÃ©,2016,"June 6th, 2017","Exportadora Atlantic, S.A.",7.25,6.58,...,6.42,6.08,6.00,6.00,6.00,6.17,63.08,0.13,m,1100.00
1305,1307,Guatemala,4650,nuevo oriente,Asociacion Nacional Del CafÃ©,2012,"May 24th, 2012",Juan Luis Alvarado Romero,7.50,6.67,...,7.33,6.67,8.00,1.33,1.33,6.67,59.83,0.10,ft,1417.32

In [1]:
pd[unit_of_measurement = ft]

SyntaxError: invalid syntax (<ipython-input-1-41f943f0d7b5>, line 1)

In [2]:
pd[unit_of_measurement == ft]

NameError: name 'pd' is not defined

In [3]:
df = pd.read_excel('Book2.xlsx')

NameError: name 'pd' is not defined

In [4]:
import pandas as pd

df = pd.read_excel('Book2.xlsx')

In [5]:
print(df)

      Place Country.of.Origin       Altitude                           Region  \
0         1          Ethiopia      1950-2200                     guji-hambela
1         2          Ethiopia      1950-2200                     guji-hambela
2         3         Guatemala  1600 - 1800 m                              NaN
3         4          Ethiopia      1800-2200                           oromia
4         5          Ethiopia      1950-2200                     guji-hambela
...     ...               ...            ...                              ...
1301   1303          Honduras      1450 msnm                          marcala
1302   1304            Mexico            900               juchique de ferrer
1303   1305             Haiti          ~350m  department d'artibonite , haiti
1304   1306         Nicaragua           1100                           jalapa
1305   1307         Guatemala           4650                    nuevo oriente

                      In.Country.Partner Harvest.Year          Grading.Date  \
0     METAD Agricultural Development plc         2014       April 4th, 2015
1     METAD Agricultural Development plc         2014       April 4th, 2015
2           Specialty Coffee Association          NaN        May 31st, 2010
3     METAD Agricultural Development plc         2014      March 26th, 2015
4     METAD Agricultural Development plc         2014       April 4th, 2015
...                                  ...          ...                   ...
1301      Instituto HondureÃ±o del CafÃ©         2014        May 15th, 2014
1302                             AMECAFE         2012  September 17th, 2012
1303        Specialty Coffee Association         2012        May 24th, 2012
1304      Instituto HondureÃ±o del CafÃ©         2016        June 6th, 2017
1305       Asociacion Nacional Del CafÃ©         2012        May 24th, 2012

                         Owner.1  Aroma  Flavor  ...  Body  Balance  \
0                      metad plc   8.67    8.83  ...  8.50     8.42
1                      metad plc   8.75    8.67  ...  8.42     8.42
2       Grounds for Health Admin   8.42    8.50  ...  8.33     8.42
3            Yidnekachew Dabessa   8.17    8.58  ...  8.50     8.25
4                      metad plc   8.25    8.50  ...  8.42     8.33
...                          ...    ...     ...  ...   ...      ...
1301                     CADEXSA   7.00    6.33  ...  6.67     6.17
1302    JUAN CARLOS GARCIA LOPEZ   7.08    6.83  ...  7.25     6.75
1303     Myriam Kaplan-Pasternak   6.75    6.58  ...  7.08     6.67
1304  Exportadora Atlantic, S.A.   7.25    6.58  ...  6.42     6.08
1305   Juan Luis Alvarado Romero   7.50    6.67  ...  7.33     6.67

      Uniformity  Clean.Cup  Sweetness  Cupper.Points  Total.Cup.Points  \
0          10.00      10.00      10.00           8.75             90.58
1          10.00      10.00      10.00           8.58             89.92
2          10.00      10.00      10.00           9.25             89.75
3          10.00      10.00      10.00           8.67             89.00
4          10.00      10.00      10.00           8.58             88.83
...          ...        ...        ...            ...               ...
1301        8.00       8.00       8.00           6.33             69.17
1302       10.00       0.00      10.00           6.75             68.33
1303        9.33       6.00       6.00           6.42             67.92
1304        6.00       6.00       6.00           6.17             63.08
1305        8.00       1.33       1.33           6.67             59.83

      Moisture  unit_of_measurement  altitude_mean_meters
0         0.12                    m               2075.00
1         0.12                    m               2075.00
2         0.00                    m               1700.00
3         0.11                    m               2000.00
4         0.12                    m               2075.00
...        ...                  ...                   ...
1301      0.10                    m               1450.00
1302      0.11                    m                900.00
1303      0.14                    m                350.00
1304      0.13                    m               1100.00
1305      0.10                   ft               1417.32

[1306 rows x 22 columns]

In [6]:
df[unit_of_measurement == ft]

NameError: name 'unit_of_measurement' is not defined

In [7]:
df[unit_of_measurement == ft]

NameError: name 'unit_of_measurement' is not defined

In [ ]:
df = pd.read_excel('Book2.xlsx',
sheetname=0,
header=0,
index_col=False,
keep_default_na=True
)