In [ ]:
import pandas as pd

pd.read_excel('Book2.xlsx')

In [ ]:
pd[unit_of_measurement = ft]

In [ ]:
pd[unit_of_measurement == ft]

In [ ]:
df = pd.read_excel('Book2.xlsx')

In [ ]:
import pandas as pd

df = pd.read_excel('Book2.xlsx')

In [ ]:
print(df)

In [ ]:
df[unit_of_measurement == ft]

In [ ]:
df[unit_of_measurement == ft]

In [ ]:
import pandas as pd
df = pd.read_excel('Book2.xlsx',
header=0,
index_col=False,
keep_default_na=True
)

In [ ]:
print(df)

In [ ]:
df.head

In [ ]:
df[Moisture]

In [1]:
import pandas as pd
df = pd.read_excel('Book2.xlsx',
header=0,
keep_default_na=True
)

In [2]:
df[0,0]

KeyError: (0, 0)

In [3]:
df.head

<bound method NDFrame.head of       Place Country.of.Origin       Altitude                           Region  \
0         1          Ethiopia      1950-2200                     guji-hambela
1         2          Ethiopia      1950-2200                     guji-hambela
2         3         Guatemala  1600 - 1800 m                              NaN
3         4          Ethiopia      1800-2200                           oromia
4         5          Ethiopia      1950-2200                     guji-hambela
...     ...               ...            ...                              ...
1301   1303          Honduras      1450 msnm                          marcala
1302   1304            Mexico            900               juchique de ferrer
1303   1305             Haiti          ~350m  department d'artibonite , haiti
1304   1306         Nicaragua           1100                           jalapa
1305   1307         Guatemala           4650                    nuevo oriente

                      In.Country.Partner Harvest.Year          Grading.Date  \
0     METAD Agricultural Development plc         2014       April 4th, 2015
1     METAD Agricultural Development plc         2014       April 4th, 2015
2           Specialty Coffee Association          NaN        May 31st, 2010
3     METAD Agricultural Development plc         2014      March 26th, 2015
4     METAD Agricultural Development plc         2014       April 4th, 2015
...                                  ...          ...                   ...
1301      Instituto HondureÃ±o del CafÃ©         2014        May 15th, 2014
1302                             AMECAFE         2012  September 17th, 2012
1303        Specialty Coffee Association         2012        May 24th, 2012
1304      Instituto HondureÃ±o del CafÃ©         2016        June 6th, 2017
1305       Asociacion Nacional Del CafÃ©         2012        May 24th, 2012

                         Owner.1  Aroma  Flavor  ...  Body  Balance  \
0                      metad plc   8.67    8.83  ...  8.50     8.42
1                      metad plc   8.75    8.67  ...  8.42     8.42
2       Grounds for Health Admin   8.42    8.50  ...  8.33     8.42
3            Yidnekachew Dabessa   8.17    8.58  ...  8.50     8.25
4                      metad plc   8.25    8.50  ...  8.42     8.33
...                          ...    ...     ...  ...   ...      ...
1301                     CADEXSA   7.00    6.33  ...  6.67     6.17
1302    JUAN CARLOS GARCIA LOPEZ   7.08    6.83  ...  7.25     6.75
1303     Myriam Kaplan-Pasternak   6.75    6.58  ...  7.08     6.67
1304  Exportadora Atlantic, S.A.   7.25    6.58  ...  6.42     6.08
1305   Juan Luis Alvarado Romero   7.50    6.67  ...  7.33     6.67

      Uniformity  Clean.Cup  Sweetness  Cupper.Points  Total.Cup.Points  \
0          10.00      10.00      10.00           8.75             90.58
1          10.00      10.00      10.00           8.58             89.92
2          10.00      10.00      10.00           9.25             89.75
3          10.00      10.00      10.00           8.67             89.00
4          10.00      10.00      10.00           8.58             88.83
...          ...        ...        ...            ...               ...
1301        8.00       8.00       8.00           6.33             69.17
1302       10.00       0.00      10.00           6.75             68.33
1303        9.33       6.00       6.00           6.42             67.92
1304        6.00       6.00       6.00           6.17             63.08
1305        8.00       1.33       1.33           6.67             59.83

      Moisture  unit_of_measurement  altitude_mean_meters
0         0.12                    m               2075.00
1         0.12                    m               2075.00
2         0.00                    m               1700.00
3         0.11                    m               2000.00
4         0.12                    m               2075.00
...        ...                  ...                   ...
1301      0.10                    m               1450.00
1302      0.11                    m                900.00
1303      0.14                    m                350.00
1304      0.13                    m               1100.00
1305      0.10                   ft               1417.32

[1306 rows x 22 columns]>

In [4]:
df['Place']

0          1
1          2
2          3
3          4
4          5
        ...
1301    1303
1302    1304
1303    1305
1304    1306
1305    1307
Name: Place, Length: 1306, dtype: int64

In [5]:
df['Moisture']

0       0.12
1       0.12
2       0.00
3       0.11
4       0.12
        ...
1301    0.10
1302    0.11
1303    0.14
1304    0.13
1305    0.10
Name: Moisture, Length: 1306, dtype: float64

In [6]:
df['Altitude']

0           1950-2200
1           1950-2200
2       1600 - 1800 m
3           1800-2200
4           1950-2200
            ...
1301        1450 msnm
1302              900
1303            ~350m
1304             1100
1305             4650
Name: Altitude, Length: 1306, dtype: object

In [10]:
df['unit_of_measurement' == "ft"]

KeyError: False

In [11]:
df.set_index('Place')

,Country.of.Origin,Altitude,Region,In.Country.Partner,Harvest.Year,Grading.Date,Owner.1,Aroma,Flavor,Aftertaste,...,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,unit_of_measurement,altitude_mean_meters
Place,,,,,,,,,,,,,,,,,,,,,
1,Ethiopia,1950-2200,guji-hambela,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,8.67,8.83,8.67,...,8.50,8.42,10.00,10.00,10.00,8.75,90.58,0.12,m,2075.00
2,Ethiopia,1950-2200,guji-hambela,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,8.75,8.67,8.50,...,8.42,8.42,10.00,10.00,10.00,8.58,89.92,0.12,m,2075.00
3,Guatemala,1600 - 1800 m,NaN,Specialty Coffee Association,NaN,"May 31st, 2010",Grounds for Health Admin,8.42,8.50,8.42,...,8.33,8.42,10.00,10.00,10.00,9.25,89.75,0.00,m,1700.00
4,Ethiopia,1800-2200,oromia,METAD Agricultural Development plc,2014,"March 26th, 2015",Yidnekachew Dabessa,8.17,8.58,8.42,...,8.50,8.25,10.00,10.00,10.00,8.67,89.00,0.11,m,2000.00
5,Ethiopia,1950-2200,guji-hambela,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,8.25,8.50,8.25,...,8.42,8.33,10.00,10.00,10.00,8.58,88.83,0.12,m,2075.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1303,Honduras,1450 msnm,marcala,Instituto HondureÃ±o del CafÃ©,2014,"May 15th, 2014",CADEXSA,7.00,6.33,6.17,...,6.67,6.17,8.00,8.00,8.00,6.33,69.17,0.10,m,1450.00
1304,Mexico,900,juchique de ferrer,AMECAFE,2012,"September 17th, 2012",JUAN CARLOS GARCIA LOPEZ,7.08,6.83,6.25,...,7.25,6.75,10.00,0.00,10.00,6.75,68.33,0.11,m,900.00
1305,Haiti,~350m,"department d'artibonite , haiti",Specialty Coffee Association,2012,"May 24th, 2012",Myriam Kaplan-Pasternak,6.75,6.58,6.42,...,7.08,6.67,9.33,6.00,6.00,6.42,67.92,0.14,m,350.00
1306,Nicaragua,1100,jalapa,Instituto HondureÃ±o del CafÃ©,2016,"June 6th, 2017","Exportadora Atlantic, S.A.",7.25,6.58,6.33,...,6.42,6.08,6.00,6.00,6.00,6.17,63.08,0.13,m,1100.00
1307,Guatemala,4650,nuevo oriente,Asociacion Nacional Del CafÃ©,2012,"May 24th, 2012",Juan Luis Alvarado Romero,7.50,6.67,6.67,...,7.33,6.67,8.00,1.33,1.33,6.67,59.83,0.10,ft,1417.32

In [12]:
df['unit_of_measurement']

0        m
1        m
2        m
3        m
4        m
        ..
1301     m
1302     m
1303     m
1304     m
1305    ft
Name: unit_of_measurement, Length: 1306, dtype: object

In [13]:
df['unit_of_measurement' != 'm']

KeyError: True

In [14]:
sub = 'ft'
df['unit_of_measurement' = sub]

SyntaxError: invalid syntax (<ipython-input-14-8fa121c9c5f3>, line 2)

In [15]:
sub = 'ft'
df['unit_of_measurement' == sub]

KeyError: False

In [16]:
df = df[df.unit_of_measurement != 'ft']

In [17]:
df['unit_of_measurement']

0       m
1       m
2       m
3       m
4       m
       ..
1300    m
1301    m
1302    m
1303    m
1304    m
Name: unit_of_measurement, Length: 1126, dtype: object

In [18]:
df = df[df.Region != 'NaN']

In [19]:
df.head

<bound method NDFrame.head of       Place Country.of.Origin       Altitude                           Region  \
0         1          Ethiopia      1950-2200                     guji-hambela
1         2          Ethiopia      1950-2200                     guji-hambela
2         3         Guatemala  1600 - 1800 m                              NaN
3         4          Ethiopia      1800-2200                           oromia
4         5          Ethiopia      1950-2200                     guji-hambela
...     ...               ...            ...                              ...
1300   1302          Honduras      1450 msnm                          marcala
1301   1303          Honduras      1450 msnm                          marcala
1302   1304            Mexico            900               juchique de ferrer
1303   1305             Haiti          ~350m  department d'artibonite , haiti
1304   1306         Nicaragua           1100                           jalapa

                      In.Country.Partner Harvest.Year          Grading.Date  \
0     METAD Agricultural Development plc         2014       April 4th, 2015
1     METAD Agricultural Development plc         2014       April 4th, 2015
2           Specialty Coffee Association          NaN        May 31st, 2010
3     METAD Agricultural Development plc         2014      March 26th, 2015
4     METAD Agricultural Development plc         2014       April 4th, 2015
...                                  ...          ...                   ...
1300      Instituto HondureÃ±o del CafÃ©         2014        May 15th, 2014
1301      Instituto HondureÃ±o del CafÃ©         2014        May 15th, 2014
1302                             AMECAFE         2012  September 17th, 2012
1303        Specialty Coffee Association         2012        May 24th, 2012
1304      Instituto HondureÃ±o del CafÃ©         2016        June 6th, 2017

                         Owner.1  Aroma  Flavor  ...  Body  Balance  \
0                      metad plc   8.67    8.83  ...  8.50     8.42
1                      metad plc   8.75    8.67  ...  8.42     8.42
2       Grounds for Health Admin   8.42    8.50  ...  8.33     8.42
3            Yidnekachew Dabessa   8.17    8.58  ...  8.50     8.25
4                      metad plc   8.25    8.50  ...  8.42     8.33
...                          ...    ...     ...  ...   ...      ...
1300                     CADEXSA   7.00    6.17  ...  6.50     6.17
1301                     CADEXSA   7.00    6.33  ...  6.67     6.17
1302    JUAN CARLOS GARCIA LOPEZ   7.08    6.83  ...  7.25     6.75
1303     Myriam Kaplan-Pasternak   6.75    6.58  ...  7.08     6.67
1304  Exportadora Atlantic, S.A.   7.25    6.58  ...  6.42     6.08

      Uniformity  Clean.Cup  Sweetness  Cupper.Points  Total.Cup.Points  \
0          10.00       10.0       10.0           8.75             90.58
1          10.00       10.0       10.0           8.58             89.92
2          10.00       10.0       10.0           9.25             89.75
3          10.00       10.0       10.0           8.67             89.00
4          10.00       10.0       10.0           8.58             88.83
...          ...        ...        ...            ...               ...
1300        8.00        8.0        8.0           6.50             69.17
1301        8.00        8.0        8.0           6.33             69.17
1302       10.00        0.0       10.0           6.75             68.33
1303        9.33        6.0        6.0           6.42             67.92
1304        6.00        6.0        6.0           6.17             63.08

      Moisture  unit_of_measurement  altitude_mean_meters
0         0.12                    m                2075.0
1         0.12                    m                2075.0
2         0.00                    m                1700.0
3         0.11                    m                2000.0
4         0.12                    m                2075.0
...        ...                  ...                   ...
1300      0.10                    m                1450.0
1301      0.10                    m                1450.0
1302      0.11                    m                 900.0
1303      0.14                    m                 350.0
1304      0.13                    m                1100.0

[1126 rows x 22 columns]>

In [20]:
print(df)

      Place Country.of.Origin       Altitude                           Region  \
0         1          Ethiopia      1950-2200                     guji-hambela
1         2          Ethiopia      1950-2200                     guji-hambela
2         3         Guatemala  1600 - 1800 m                              NaN
3         4          Ethiopia      1800-2200                           oromia
4         5          Ethiopia      1950-2200                     guji-hambela
...     ...               ...            ...                              ...
1300   1302          Honduras      1450 msnm                          marcala
1301   1303          Honduras      1450 msnm                          marcala
1302   1304            Mexico            900               juchique de ferrer
1303   1305             Haiti          ~350m  department d'artibonite , haiti
1304   1306         Nicaragua           1100                           jalapa

                      In.Country.Partner Harvest.Year          Grading.Date  \
0     METAD Agricultural Development plc         2014       April 4th, 2015
1     METAD Agricultural Development plc         2014       April 4th, 2015
2           Specialty Coffee Association          NaN        May 31st, 2010
3     METAD Agricultural Development plc         2014      March 26th, 2015
4     METAD Agricultural Development plc         2014       April 4th, 2015
...                                  ...          ...                   ...
1300      Instituto HondureÃ±o del CafÃ©         2014        May 15th, 2014
1301      Instituto HondureÃ±o del CafÃ©         2014        May 15th, 2014
1302                             AMECAFE         2012  September 17th, 2012
1303        Specialty Coffee Association         2012        May 24th, 2012
1304      Instituto HondureÃ±o del CafÃ©         2016        June 6th, 2017

                         Owner.1  Aroma  Flavor  ...  Body  Balance  \
0                      metad plc   8.67    8.83  ...  8.50     8.42
1                      metad plc   8.75    8.67  ...  8.42     8.42
2       Grounds for Health Admin   8.42    8.50  ...  8.33     8.42
3            Yidnekachew Dabessa   8.17    8.58  ...  8.50     8.25
4                      metad plc   8.25    8.50  ...  8.42     8.33
...                          ...    ...     ...  ...   ...      ...
1300                     CADEXSA   7.00    6.17  ...  6.50     6.17
1301                     CADEXSA   7.00    6.33  ...  6.67     6.17
1302    JUAN CARLOS GARCIA LOPEZ   7.08    6.83  ...  7.25     6.75
1303     Myriam Kaplan-Pasternak   6.75    6.58  ...  7.08     6.67
1304  Exportadora Atlantic, S.A.   7.25    6.58  ...  6.42     6.08

      Uniformity  Clean.Cup  Sweetness  Cupper.Points  Total.Cup.Points  \
0          10.00       10.0       10.0           8.75             90.58
1          10.00       10.0       10.0           8.58             89.92
2          10.00       10.0       10.0           9.25             89.75
3          10.00       10.0       10.0           8.67             89.00
4          10.00       10.0       10.0           8.58             88.83
...          ...        ...        ...            ...               ...
1300        8.00        8.0        8.0           6.50             69.17
1301        8.00        8.0        8.0           6.33             69.17
1302       10.00        0.0       10.0           6.75             68.33
1303        9.33        6.0        6.0           6.42             67.92
1304        6.00        6.0        6.0           6.17             63.08

      Moisture  unit_of_measurement  altitude_mean_meters
0         0.12                    m                2075.0
1         0.12                    m                2075.0
2         0.00                    m                1700.0
3         0.11                    m                2000.0
4         0.12                    m                2075.0
...        ...                  ...                   ...
1300      0.10                    m                1450.0
1301      0.10                    m                1450.0
1302      0.11                    m                 900.0
1303      0.14                    m                 350.0
1304      0.13                    m                1100.0

[1126 rows x 22 columns]

In [21]:
df.to_excel("output.xlsx")

In [22]:
df = df[df.Region.notnull()]

In [23]:
print(df)

      Place Country.of.Origin   Altitude                           Region  \
0         1          Ethiopia  1950-2200                     guji-hambela
1         2          Ethiopia  1950-2200                     guji-hambela
3         4          Ethiopia  1800-2200                           oromia
4         5          Ethiopia  1950-2200                     guji-hambela
7         8          Ethiopia  1570-1700                           oromia
...     ...               ...        ...                              ...
1300   1302          Honduras  1450 msnm                          marcala
1301   1303          Honduras  1450 msnm                          marcala
1302   1304            Mexico        900               juchique de ferrer
1303   1305             Haiti      ~350m  department d'artibonite , haiti
1304   1306         Nicaragua       1100                           jalapa

                      In.Country.Partner Harvest.Year          Grading.Date  \
0     METAD Agricultural Development plc         2014       April 4th, 2015
1     METAD Agricultural Development plc         2014       April 4th, 2015
3     METAD Agricultural Development plc         2014      March 26th, 2015
4     METAD Agricultural Development plc         2014       April 4th, 2015
7            Ethiopia Commodity Exchange   March 2010   September 2nd, 2010
...                                  ...          ...                   ...
1300      Instituto HondureÃ±o del CafÃ©         2014        May 15th, 2014
1301      Instituto HondureÃ±o del CafÃ©         2014        May 15th, 2014
1302                             AMECAFE         2012  September 17th, 2012
1303        Specialty Coffee Association         2012        May 24th, 2012
1304      Instituto HondureÃ±o del CafÃ©         2016        June 6th, 2017

                          Owner.1  Aroma  Flavor  ...  Body  Balance  \
0                       metad plc   8.67    8.83  ...  8.50     8.42
1                       metad plc   8.75    8.67  ...  8.42     8.42
3             Yidnekachew Dabessa   8.17    8.58  ...  8.50     8.25
4                       metad plc   8.25    8.50  ...  8.42     8.33
7     Ethiopia Commodity Exchange   8.25    8.33  ...  8.33     8.50
...                           ...    ...     ...  ...   ...      ...
1300                      CADEXSA   7.00    6.17  ...  6.50     6.17
1301                      CADEXSA   7.00    6.33  ...  6.67     6.17
1302     JUAN CARLOS GARCIA LOPEZ   7.08    6.83  ...  7.25     6.75
1303      Myriam Kaplan-Pasternak   6.75    6.58  ...  7.08     6.67
1304   Exportadora Atlantic, S.A.   7.25    6.58  ...  6.42     6.08

      Uniformity  Clean.Cup  Sweetness  Cupper.Points  Total.Cup.Points  \
0          10.00       10.0      10.00           8.75             90.58
1          10.00       10.0      10.00           8.58             89.92
3          10.00       10.0      10.00           8.67             89.00
4          10.00       10.0      10.00           8.58             88.83
7          10.00       10.0       9.33           9.00             88.67
...          ...        ...        ...            ...               ...
1300        8.00        8.0       8.00           6.50             69.17
1301        8.00        8.0       8.00           6.33             69.17
1302       10.00        0.0      10.00           6.75             68.33
1303        9.33        6.0       6.00           6.42             67.92
1304        6.00        6.0       6.00           6.17             63.08

      Moisture  unit_of_measurement  altitude_mean_meters
0         0.12                    m                2075.0
1         0.12                    m                2075.0
3         0.11                    m                2000.0
4         0.12                    m                2075.0
7         0.03                    m                1635.0
...        ...                  ...                   ...
1300      0.10                    m                1450.0
1301      0.10                    m                1450.0
1302      0.11                    m                 900.0
1303      0.14                    m                 350.0
1304      0.13                    m                1100.0

[1075 rows x 22 columns]

In [24]:
df = df[df.altitude_mean_meters.notnull()]

In [25]:
df.set_index('Place')

,Country.of.Origin,Altitude,Region,In.Country.Partner,Harvest.Year,Grading.Date,Owner.1,Aroma,Flavor,Aftertaste,...,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,unit_of_measurement,altitude_mean_meters
Place,,,,,,,,,,,,,,,,,,,,,
1,Ethiopia,1950-2200,guji-hambela,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,8.67,8.83,8.67,...,8.50,8.42,10.00,10.0,10.00,8.75,90.58,0.12,m,2075.0
2,Ethiopia,1950-2200,guji-hambela,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,8.75,8.67,8.50,...,8.42,8.42,10.00,10.0,10.00,8.58,89.92,0.12,m,2075.0
4,Ethiopia,1800-2200,oromia,METAD Agricultural Development plc,2014,"March 26th, 2015",Yidnekachew Dabessa,8.17,8.58,8.42,...,8.50,8.25,10.00,10.0,10.00,8.67,89.00,0.11,m,2000.0
5,Ethiopia,1950-2200,guji-hambela,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,8.25,8.50,8.25,...,8.42,8.33,10.00,10.0,10.00,8.58,88.83,0.12,m,2075.0
8,Ethiopia,1570-1700,oromia,Ethiopia Commodity Exchange,March 2010,"September 2nd, 2010",Ethiopia Commodity Exchange,8.25,8.33,8.50,...,8.33,8.50,10.00,10.0,9.33,9.00,88.67,0.03,m,1635.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302,Honduras,1450 msnm,marcala,Instituto HondureÃ±o del CafÃ©,2014,"May 15th, 2014",CADEXSA,7.00,6.17,6.17,...,6.50,6.17,8.00,8.0,8.00,6.50,69.17,0.10,m,1450.0
1303,Honduras,1450 msnm,marcala,Instituto HondureÃ±o del CafÃ©,2014,"May 15th, 2014",CADEXSA,7.00,6.33,6.17,...,6.67,6.17,8.00,8.0,8.00,6.33,69.17,0.10,m,1450.0
1304,Mexico,900,juchique de ferrer,AMECAFE,2012,"September 17th, 2012",JUAN CARLOS GARCIA LOPEZ,7.08,6.83,6.25,...,7.25,6.75,10.00,0.0,10.00,6.75,68.33,0.11,m,900.0
1305,Haiti,~350m,"department d'artibonite , haiti",Specialty Coffee Association,2012,"May 24th, 2012",Myriam Kaplan-Pasternak,6.75,6.58,6.42,...,7.08,6.67,9.33,6.0,6.00,6.42,67.92,0.14,m,350.0
1306,Nicaragua,1100,jalapa,Instituto HondureÃ±o del CafÃ©,2016,"June 6th, 2017","Exportadora Atlantic, S.A.",7.25,6.58,6.33,...,6.42,6.08,6.00,6.0,6.00,6.17,63.08,0.13,m,1100.0

In [26]:
df.to_excel("output.xlsx")

In [28]:
df.drop('Altitude' ,1)

,Place,Country.of.Origin,Region,In.Country.Partner,Harvest.Year,Grading.Date,Owner.1,Aroma,Flavor,Aftertaste,...,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,unit_of_measurement,altitude_mean_meters
0,1,Ethiopia,guji-hambela,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,8.67,8.83,8.67,...,8.50,8.42,10.00,10.0,10.00,8.75,90.58,0.12,m,2075.0
1,2,Ethiopia,guji-hambela,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,8.75,8.67,8.50,...,8.42,8.42,10.00,10.0,10.00,8.58,89.92,0.12,m,2075.0
3,4,Ethiopia,oromia,METAD Agricultural Development plc,2014,"March 26th, 2015",Yidnekachew Dabessa,8.17,8.58,8.42,...,8.50,8.25,10.00,10.0,10.00,8.67,89.00,0.11,m,2000.0
4,5,Ethiopia,guji-hambela,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,8.25,8.50,8.25,...,8.42,8.33,10.00,10.0,10.00,8.58,88.83,0.12,m,2075.0
7,8,Ethiopia,oromia,Ethiopia Commodity Exchange,March 2010,"September 2nd, 2010",Ethiopia Commodity Exchange,8.25,8.33,8.50,...,8.33,8.50,10.00,10.0,9.33,9.00,88.67,0.03,m,1635.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1300,1302,Honduras,marcala,Instituto HondureÃ±o del CafÃ©,2014,"May 15th, 2014",CADEXSA,7.00,6.17,6.17,...,6.50,6.17,8.00,8.0,8.00,6.50,69.17,0.10,m,1450.0
1301,1303,Honduras,marcala,Instituto HondureÃ±o del CafÃ©,2014,"May 15th, 2014",CADEXSA,7.00,6.33,6.17,...,6.67,6.17,8.00,8.0,8.00,6.33,69.17,0.10,m,1450.0
1302,1304,Mexico,juchique de ferrer,AMECAFE,2012,"September 17th, 2012",JUAN CARLOS GARCIA LOPEZ,7.08,6.83,6.25,...,7.25,6.75,10.00,0.0,10.00,6.75,68.33,0.11,m,900.0
1303,1305,Haiti,"department d'artibonite , haiti",Specialty Coffee Association,2012,"May 24th, 2012",Myriam Kaplan-Pasternak,6.75,6.58,6.42,...,7.08,6.67,9.33,6.0,6.00,6.42,67.92,0.14,m,350.0
1304,1306,Nicaragua,jalapa,Instituto HondureÃ±o del CafÃ©,2016,"June 6th, 2017","Exportadora Atlantic, S.A.",7.25,6.58,6.33,...,6.42,6.08,6.00,6.0,6.00,6.17,63.08,0.13,m,1100.0

In [1]:
print(df)

NameError: name 'df' is not defined

In [2]:
import pandas as pd

df = pd.read_excel('output.xlsx')
df = df.set_index('Place')

df = df.drop('Altitude' ,1)

In [3]:
print(df)

       Unnamed: 0 Country.of.Origin                           Region  \
Place
1               0          Ethiopia                     guji-hambela
2               1          Ethiopia                     guji-hambela
4               3          Ethiopia                           oromia
5               4          Ethiopia                     guji-hambela
8               7          Ethiopia                           oromia
...           ...               ...                              ...
1302         1300          Honduras                          marcala
1303         1301          Honduras                          marcala
1304         1302            Mexico               juchique de ferrer
1305         1303             Haiti  department d'artibonite , haiti
1306         1304         Nicaragua                           jalapa

                       In.Country.Partner Harvest.Year          Grading.Date  \
Place
1      METAD Agricultural Development plc         2014       April 4th, 2015
2      METAD Agricultural Development plc         2014       April 4th, 2015
4      METAD Agricultural Development plc         2014      March 26th, 2015
5      METAD Agricultural Development plc         2014       April 4th, 2015
8             Ethiopia Commodity Exchange   March 2010   September 2nd, 2010
...                                   ...          ...                   ...
1302       Instituto HondureÃ±o del CafÃ©         2014        May 15th, 2014
1303       Instituto HondureÃ±o del CafÃ©         2014        May 15th, 2014
1304                              AMECAFE         2012  September 17th, 2012
1305         Specialty Coffee Association         2012        May 24th, 2012
1306       Instituto HondureÃ±o del CafÃ©         2016        June 6th, 2017

                           Owner.1  Aroma  Flavor  Aftertaste  ...  Body  \
Place                                                          ...
1                        metad plc   8.67    8.83        8.67  ...  8.50
2                        metad plc   8.75    8.67        8.50  ...  8.42
4              Yidnekachew Dabessa   8.17    8.58        8.42  ...  8.50
5                        metad plc   8.25    8.50        8.25  ...  8.42
8      Ethiopia Commodity Exchange   8.25    8.33        8.50  ...  8.33
...                            ...    ...     ...         ...  ...   ...
1302                       CADEXSA   7.00    6.17        6.17  ...  6.50
1303                       CADEXSA   7.00    6.33        6.17  ...  6.67
1304      JUAN CARLOS GARCIA LOPEZ   7.08    6.83        6.25  ...  7.25
1305       Myriam Kaplan-Pasternak   6.75    6.58        6.42  ...  7.08
1306    Exportadora Atlantic, S.A.   7.25    6.58        6.33  ...  6.42

       Balance  Uniformity  Clean.Cup  Sweetness  Cupper.Points  \
Place
1         8.42       10.00       10.0      10.00           8.75
2         8.42       10.00       10.0      10.00           8.58
4         8.25       10.00       10.0      10.00           8.67
5         8.33       10.00       10.0      10.00           8.58
8         8.50       10.00       10.0       9.33           9.00
...        ...         ...        ...        ...            ...
1302      6.17        8.00        8.0       8.00           6.50
1303      6.17        8.00        8.0       8.00           6.33
1304      6.75       10.00        0.0      10.00           6.75
1305      6.67        9.33        6.0       6.00           6.42
1306      6.08        6.00        6.0       6.00           6.17

       Total.Cup.Points  Moisture  unit_of_measurement altitude_mean_meters
Place
1                 90.58      0.12                    m               2075.0
2                 89.92      0.12                    m               2075.0
4                 89.00      0.11                    m               2000.0
5                 88.83      0.12                    m               2075.0
8                 88.67      0.03                    m               1635.0
...                 ...       ...                  ...                  ...
1302              69.17      0.10                    m               1450.0
1303              69.17      0.10                    m               1450.0
1304              68.33      0.11                    m                900.0
1305              67.92      0.14                    m                350.0
1306              63.08      0.13                    m               1100.0

[964 rows x 21 columns]

KeyError: "None of ['Place'] are in the columns"

In [5]:
df = df.drop('unit_' ,1)

KeyError: "['unit_'] not found in axis"

In [6]:
df = df.drop('unit_of_measurement' ,1)

In [7]:
df.to_excel("output.xlsx")

FileCreateError: [Errno 13] Permission denied: 'output.xlsx'

In [8]:
df.to_excel("output.xlsx")